##### Algorithm Trading

In [3]:
a=-5
print(a)

-5

In [4]:
abs(a)

5

In [5]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
Apple = yf.download("AAPL",start="2014-01-01",end="2024-01-01")

[*********************100%%**********************]  1 of 1 completed

In [7]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-01-02,19.845715,19.893929,19.715000,19.754642,17.318726,234684800
2014-01-03,19.745001,19.775000,19.301071,19.320715,16.938311,392467600
2014-01-06,19.194643,19.528570,19.057142,19.426071,17.030672,412610800
2014-01-07,19.440001,19.498571,19.211430,19.287144,16.908878,317209200
2014-01-08,19.243214,19.484285,19.238930,19.409286,17.015957,258529600
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [8]:
ticker = ["SPY","AAPL","KO"]

In [11]:
stocks = yf.download(ticker,start="2014-01-01",end="2024-01-01")

[*********************100%%**********************]  3 of 3 completed

In [10]:
stocks

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2014-01-02   17.318726  29.601591  152.669144   19.754642  40.660000
2014-01-03   16.938311  29.455984  152.644104   19.320715  40.459999
2014-01-06   17.030672  29.317657  152.201752   19.426071  40.270000
2014-01-07   16.908878  29.405016  153.136520   19.287144  40.389999
2014-01-08   17.015957  29.077412  153.169907   19.409286  39.939999
...                ...        ...         ...         ...        ...
2023-12-22  193.600006  58.320000  473.649994  193.600006  58.320000
2023-12-26  193.050003  58.560001  475.649994  193.050003  58.560001
2023-12-27  193.149994  58.709999  476.510010  193.149994  58.709999
2023-12-28  193.580002  58.750000  476.690002  193.580002  58.750000
2023-12-29  192.529999  58.930000  475.309998  192.529999  58.930000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2014-01-02  182.919998   19.893929  41.230000  184.070007   19.715000
2014-01-03  182.889999   19.775000  40.730000  183.600006   19.301071
2014-01-06  182.360001   19.528570  40.590000  183.559998   19.057142
2014-01-07  183.479996   19.498571  40.720001  183.789993   19.211430
2014-01-08  183.520004   19.484285  40.439999  183.830002   19.238930
...                ...         ...        ...         ...         ...
2023-12-22  473.649994  195.410004  58.459999  475.380005  192.970001
2023-12-26  475.649994  193.889999  58.709999  476.579987  192.830002
2023-12-27  476.510010  193.500000  58.770000  476.660004  191.089996
2023-12-28  476.690002  194.660004  58.869999  477.549988  193.169998
2023-12-29  475.309998  194.399994  58.980000  477.029999  191.729996

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2014-01-02  40.509998  182.479996   19.845715  41.119999  183.979996
2014-01-03  40.349998  182.630005   19.745001  40.680000  183.229996
2014-01-06  40.160000  182.080002   19.194643  40.480000  183.490005
2014-01-07  40.290001  182.949997   19.440001  40.480000  183.089996
2014-01-08  39.830002  182.889999   19.243214  40.439999  183.449997
...               ...         ...         ...        ...         ...
2023-12-22  58.020000  471.700012  195.179993  58.119999  473.859985
2023-12-26  58.060001  473.989990  193.610001  58.060001  474.070007
2023-12-27  58.400002  474.890015  192.490005  58.639999  475.440002
2023-12-28  58.529999  476.260010  194.139999  58.650002  476.880005
2023-12-29  58.630001  473.299988  193.899994  58.740002  476.489990

               Volume
                 AAPL        KO        SPY
Date
2014-01-02  234684800  12698600  119636900
2014-01-03  392467600  10403400   81390600
2014-01-06  412610800  11036300  108028200
2014-01-07  317209200  11872300   86144200
2014-01-08  258529600  15339600   96582300
...               ...       ...        ...
2023-12-22   37122800   9028500   67126600
2023-12-26   28919300   6422500   55387000
2023-12-27   48087700   8560100   68000300
2023-12-28   34049900   8400100   77158100
2023-12-29   42628800   9241600  122234100

[2516 rows x 18 columns]

In [12]:
stocks.tail()

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2023-12-22  193.600006  58.320000  473.649994  193.600006  58.320000
2023-12-26  193.050003  58.560001  475.649994  193.050003  58.560001
2023-12-27  193.149994  58.709999  476.510010  193.149994  58.709999
2023-12-28  193.580002  58.750000  476.690002  193.580002  58.750000
2023-12-29  192.529999  58.930000  475.309998  192.529999  58.930000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2023-12-22  473.649994  195.410004  58.459999  475.380005  192.970001
2023-12-26  475.649994  193.889999  58.709999  476.579987  192.830002
2023-12-27  476.510010  193.500000  58.770000  476.660004  191.089996
2023-12-28  476.690002  194.660004  58.869999  477.549988  193.169998
2023-12-29  475.309998  194.399994  58.980000  477.029999  191.729996

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2023-12-22  58.020000  471.700012  195.179993  58.119999  473.859985
2023-12-26  58.060001  473.989990  193.610001  58.060001  474.070007
2023-12-27  58.400002  474.890015  192.490005  58.639999  475.440002
2023-12-28  58.529999  476.260010  194.139999  58.650002  476.880005
2023-12-29  58.630001  473.299988  193.899994  58.740002  476.489990

              Volume
                AAPL       KO        SPY
Date
2023-12-22  37122800  9028500   67126600
2023-12-26  28919300  6422500   55387000
2023-12-27  48087700  8560100   68000300
2023-12-28  34049900  8400100   77158100
2023-12-29  42628800  9241600  122234100

In [13]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2014-01-02 to 2023-12-29
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2516 non-null   float64
 1   (Adj Close, KO)    2516 non-null   float64
 2   (Adj Close, SPY)   2516 non-null   float64
 3   (Close, AAPL)      2516 non-null   float64
 4   (Close, KO)        2516 non-null   float64
 5   (Close, SPY)       2516 non-null   float64
 6   (High, AAPL)       2516 non-null   float64
 7   (High, KO)         2516 non-null   float64
 8   (High, SPY)        2516 non-null   float64
 9   (Low, AAPL)        2516 non-null   float64
 10  (Low, KO)          2516 non-null   float64
 11  (Low, SPY)         2516 non-null   float64
 12  (Open, AAPL)       2516 non-null   float64
 13  (Open, KO)         2516 non-null   float64
 14  (Open, SPY)        2516 non-null   float64
 15  (Volume, AAPL)     2516 non-null   int64
 16  (Volume, KO)       2516 non-null   int64
 17  (Volume, SPY)      2516 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 373.5 KB

In [14]:
stocks.to_csv("stocksYT")

In [17]:
nem = yf.download("NEM",start="2014-01-01",end="2024-01-01")

[*********************100%%**********************]  1 of 1 completed

In [18]:
nem

                 Open       High        Low      Close  Adj Close    Volume
Date
2014-01-02  23.469999  24.270000  23.410000  23.959999  19.314434  12162400
2014-01-03  24.170000  24.290001  23.879999  23.920000  19.282194  10233600
2014-01-06  24.250000  24.540001  24.000000  24.080000  19.411169   9276100
2014-01-07  23.850000  23.980000  23.510000  23.950001  19.306381   8783800
2014-01-08  23.690001  23.730000  23.330000  23.400000  18.863012   8027400
...               ...        ...        ...        ...        ...       ...
2023-12-22  42.349998  42.810001  42.009998  42.060001  42.060001   9132300
2023-12-26  42.330002  42.470001  41.799999  41.910000  41.910000   4979200
2023-12-27  42.040001  42.599998  41.939999  42.380001  42.380001   7687800
2023-12-28  42.099998  42.419998  41.680000  41.700001  41.700001   6259400
2023-12-29  41.410000  41.570000  41.230000  41.389999  41.389999   6985100

[2516 rows x 6 columns]

In [25]:
nem.to_csv("nemYT.csv")

In [21]:
stocksCSV = pd.read_csv("stocksYT.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'stocksYT.csv'

In [23]:
nem.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2014-01-02 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2516 non-null   float64
 1   High       2516 non-null   float64
 2   Low        2516 non-null   float64
 3   Close      2516 non-null   float64
 4   Adj Close  2516 non-null   float64
 5   Volume     2516 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 137.6 KB

In [26]:
stocks.to_csv("stocksYT")

In [27]:
stocks.to_csv("stocksYT.csv")

In [28]:
stocksCSV = pd.read_csv("stocksYT.csv")

In [29]:
stocksCSV

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02,17.3187255859375,29.601591110229492,152.6691436767578,19.754642486572266,40.65999984741211,182.9199981689453,19.89392852783203,41.22999954223633,184.07000732421875,19.71500015258789,40.5099983215332,182.47999572753906,19.845714569091797,41.119998931884766,183.97999572753906,234684800,12698600,119636900
3,2014-01-03,16.938310623168945,29.455984115600586,152.64410400390625,19.320714950561523,40.459999084472656,182.88999938964844,19.774999618530273,40.72999954223633,183.60000610351562,19.301071166992188,40.349998474121094,182.6300048828125,19.7450008392334,40.68000030517578,183.22999572753906,392467600,10403400,81390600
4,2014-01-06,17.030672073364258,29.317657470703125,152.20175170898438,19.426071166992188,40.27000045776367,182.36000061035156,19.5285701751709,40.59000015258789,183.55999755859375,19.05714225769043,40.15999984741211,182.0800018310547,19.194643020629883,40.47999954223633,183.49000549316406,412610800,11036300,108028200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,2023-12-22,193.60000610351562,58.31999969482422,473.6499938964844,193.60000610351562,58.31999969482422,473.6499938964844,195.41000366210938,58.459999084472656,475.3800048828125,192.97000122070312,58.02000045776367,471.70001220703125,195.17999267578125,58.119998931884766,473.8599853515625,37122800,9028500,67126600
2514,2023-12-26,193.0500030517578,58.560001373291016,475.6499938964844,193.0500030517578,58.560001373291016,475.6499938964844,193.88999938964844,58.709999084472656,476.5799865722656,192.8300018310547,58.060001373291016,473.989990234375,193.61000061035156,58.060001373291016,474.07000732421875,28919300,6422500,55387000
2515,2023-12-27,193.14999389648438,58.709999084472656,476.510009765625,193.14999389648438,58.709999084472656,476.510009765625,193.5,58.77000045776367,476.6600036621094,191.08999633789062,58.400001525878906,474.8900146484375,192.49000549316406,58.63999938964844,475.44000244140625,48087700,8560100,68000300
2516,2023-12-28,193.5800018310547,58.75,476.69000244140625,193.5800018310547,58.75,476.69000244140625,194.66000366210938,58.869998931884766,477.54998779296875,193.1699981689453,58.529998779296875,476.260009765625,194.13999938964844,58.650001525878906,476.8800048828125,34049900,8400100,77158100
2517,2023-12-29,192.52999877929688,58.93000030517578,475.30999755859375,192.52999877929688,58.93000030517578,475.30999755859375,194.39999389648438,58.97999954223633,477.0299987792969,191.72999572753906,58.630001068115234,473.29998779296875,193.89999389648438,58.7400016784668,476.489990234375,42628800,9241600,122234100

In [31]:
stocksCSV = pd.read_csv("stocksYT.csv",header=[0,1])